[project]
	description = dot files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/patwoodburn
[access "refs/for/refs/*"]
	read = group user/patwoodburn
	push = group user/patwoodburn
	label-Code-Review = -2..+2 group user/patwoodburn
	label-Verified = -1..+1 group user/patwoodburn
	rebase = group user/patwoodburn
	removeReviewer = group user/patwoodburn
	submit = group user/patwoodburn
[access "refs/heads/*"]
	read = group user/patwoodburn
	create = group user/patwoodburn
	push = +force group user/patwoodburn
	pushMerge = group user/patwoodburn
[access "refs/tags/*"]
	push = +force group user/patwoodburn
	pushTag = group user/patwoodburn
	pushSignedTag = group user/patwoodburn
